# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts
*.sh text eol=lf

# Batch files
*.bat text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.keystore binary
